@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-bg-color: #F6F8FC;
    --border-color: #CBD4E1;
    --main-color: #638404;
    --info-color:#2563EB;
    --header-color: #F1F4F9;
    --font-color: #27364B;
    --dark-color: #0F1A2A;
  }

  h1 {
    color: var(--dark-color);
  }

  h2, span {
    color: var(--main-color);
  }

  p{
    color: var(--font-color);
  }
  
  a{
    width: 5vw;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body{
    height: 93vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
  }

  /* HEADER */

  header{
    background-color: var(--header-color);
    font-weight:500;
    height: 7vh;
    width: 100%; /*maybe change*/
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 5vw;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    text-align: center;
  }
  

  nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--dark-color);
    width: 5vw;
    text-align: center;
    height: 7vh;
  }

  nav a:hover{
    color: var(--main-color);
  }

  #action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/icons/resume.svg)no-repeat;
    background-position: center;
    width: 5%;
  }

  #action a{
    width: 5vw;
    height: 7vh;
    text-decoration: none;
    color: var(--info-color);
    background-position: center;
  }

  #action:hover{
    background: url(/assets/icons/resume-green.svg)no-repeat;
    background-position: center;
    color:var(--main-color);

  }

  #action a:hover{
    color:var(--main-color);
  }

  /* ABOUT */

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    margin-top: 7vh; 
  }

  #about div{
    margin: 5px;
  }

  #about-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-image img{
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* SKILLS */

  #skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
  }

  #skills-title{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #skills-columns{
    margin-bottom: 5vh;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  /* CONTACT */

  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
  }

  #contact-title{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-types{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    margin-bottom: 5vh;
  }

  .contact-types-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 9.5vh;
    width: 5vw;
  }

  .contact-types-box a {
    height: 9.5vh;
  }

  #contact-description{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }

  /* FOOTER */

  footer{
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--header-color);
    height: 3vh;
  }

