@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-bg-color: #F6F8FC;
    --border-color: #CBD4E1;
    --main-color: #638404;
    --info-color:#2563EB;
    --header-color: #F1F4F9;
    --font-color: #27364B;
    --dark-color: #0F1A2A;
  }

  h1 {
    color: var(--dark-color);
  }

  h2, span {
    color: var(--main-color);
  }

  p{
    color: var(--font-color);
  }
  
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 75%;
    margin: 0.5em;
  }

  body{
    height: 93vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
  }

  /* HEADER */

  header{
    background-color: var(--header-color);
    font-weight:500;
    height: 7vh;
    width: 100%; 
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }

  #header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 7vh;
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
  }


  nav{
    display: none; /* change for flex if add new section */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
  }

  nav a:hover{
    color: var(--main-color);
  }

  #action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/icons/resume.svg)no-repeat;
    background-position: center;
    height: 7vh;
    width: 25%;
  }

  #action a{
    color: var(--info-color);
  }

  #action:hover{
    background: url(/assets/icons/resume-green.svg)no-repeat;
    background-position:center;
    color:var(--main-color);
  }

  #action a:hover{
    color:var(--main-color);
  }

  /* ABOUT */

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin-top: 7vh; 
  }

  #about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
    text-align: center;
  }

  #about-image{
    height: 60%;
  }

  #about-image img{
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* SKILLS */

  #skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
  }

  #skills-container{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(/assets/icons/decoration.svg)no-repeat;
    background-position: center;
    height: 90%;
  }

  #skills-columns{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  /* CONTACT */

  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
  }

  #contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 90%;
  }

  #contact-title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #contact-types{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }

  .contact-types-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 5em;
    width: 5em;
  }

  .contact-types-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #contact-description{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* FOOTER */

  footer{
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--header-color);
    height: 3vh;
  }

  @media (max-width: 1000px) {
    #skills-container{
      background: none;
    }
  }

  @media ( max-height: 1000px ) { 
    #skills-container{
      background: none;
    }
  }


  @media (max-width: 670px) {
    
    #header-container{
      justify-content: space-around;
      height: 100%;
      width: 80%;
    }

    #logo{
      width: 50%;
    }

    nav{display: none;}

    #action{
      width: 50%;
    }

    #about-container{
      justify-content: space-evenly;
      width: 80%;
      text-align: center;
    }

    #about-image{
      display: none;
    }

    #skills-container{
      justify-content: space-evenly;
      width: 80%;
    }

    #skills-columns{
      justify-content: space-around;
      width: 100%;
    }

    #contact-container{
      width: 80%;
    }
    
  }